body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gameTitle {
  text-align: center;
}

#board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board > div {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

#board > div > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  pointer-events: none;
}

#player1Info,
#player2Info {
  width: 200px;
  border: 1px solid blue;
  position: absolute;
  top: 30%;
}

#player2Info {
  right: 0;
}

#playerForm {
  border: 1px solid red;
}
